* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0px!important;
  margin: 0px!important;
  background-color: #eff5fc;
}

select {
  padding: 5px 10px;
}
